.skills_wrapper {
    height: 100%;
    width: 90%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.iconComponent {
    display: block !important;
    font-size: 55px;
    margin: auto;
}


@media screen and (max-width: 600px) {
    .skills_wrapper {
        height: 100%;
        width: 80%;
    }

    .iconComponent {
        display: block !important;
        font-size: 40px;
    }
}