.container_wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.content_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-5);
    height: max-content;
    width: 40%;
    gap: 20px;
}

.content_wrapper h1 {
    color: var(--color-8);
    margin-top: 0 !important;
}

img {
    height: 360px;
    width: 100%;
}

.wrapper {
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--color-2);
    overflow: hidden;
}

@media screen and (max-width : 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: 60%;
        gap: 2em;
    }

    .content_wrapper {
        align-self: center;
        height: max-content;
    }

    .content_wrapper h2 {
        font-size: 18px;
    }

    .wrapper {
        height: 45%;
    }

    img {
        height: 100%;
    }
}