.container_wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.content_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-5);
    height: max-content;
    width: 40%;
    gap: 20px;
}

.content_wrapper h1 {
    color: var(--color-8);
    margin-top: 0 !important;
}

img {
    height: 360px;
    width: 100%;
}

.wrapper {
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--color-2);
    overflow: hidden;
}

.notes {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    gap: 20px;
}

.inDevelopment {
    border-radius: 4px;
    background-color: var(--color-4);
    color: var(--color-6);
    height: max-content;
    width: 160px;
}

.Maintenance {
    border-radius: 4px;
    background-color: var(--color-3);
    color: var(--color-2);
    height: max-content;
    width: 160px;
}

@media screen and (max-width : 600px) {
    .container {
        align-items: center;
        height: 60%;
    }

    .content_wrapper {
        align-self: center;
        height: 40%;
    }

    .content_wrapper h2 {
        font-size: 18px;
    }

    .wrapper {
        height: 35%;
    }

    img {
        height: 100%;
    }
}