:root {
  --color-1: #1b1c1e;
  --color-2: #303030;
  --color-3: #00bfff;
  --color-4: #8739f9;
  --color-5: #7fffd4;
  --color-6: #f0f0f0;
  --color-7: rgb(218, 203, 177);
  --color-8: #FFD369;
}

html {
  scroll-behavior: smooth;
}

body {
  body {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
}


nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  height: 60px;
  width: 90%;
  background-color: rgba(218, 203, 177, 0.751);
  backdrop-filter: blur(10px);
  transform: translate(75px, 20px);
  border-radius: 20px;
  z-index: 99;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: start;
  width: 80%;
  height: 30px;
  padding: 0;
  margin: 0;
  gap: 5rem;
}

li {
  color: var(--color-8);
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

li:first-child {
  margin-right: 30em;
}

.cta a {
  padding-bottom: 7px;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: var(--color-1);
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-1);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  top: 90px;
  width: 110px;
  padding: 10px;
  background-color: var(--color-6);
  color: var(--color-1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 99;
}

#back-to-top-btn.visible {
  display: block;
  animation: slide .3s ease-out;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#back-to-top-btn:hover {
  background-color: var(--color-8);
  color: var(--color-1);
}

.circle1 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px dashed var(--color-2);
  right: 10px;
  z-index: 98;
}

.circle2 {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  border-top: 5px solid var(--color-8);
  border-bottom: 5px solid var(--color-4);
  box-shadow: 0 -10px 15px 0 var(--color-8), 0 10px 15px 0 var(--color-4);
  animation: radar 3s linear .5s infinite forwards;
}

@keyframes radar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.home_desk {
  width: 600px;
  height: 200px;
  transform: translate(-60px, 0);
  letter-spacing: 1px;
}

.home_desk h1,
h2 {
  color: var(--color-6);
  margin: 0;
}

.home_desk h3 {
  color: #393E46;
  margin: 0;
}

.btn_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: #393E46 3px solid;
  background: var(--color-8);
  text-align: center;
  color: var(--color-1);
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
}

.text {
  font-size: 20px;
}

.btn_contact:hover {
  background-color: transparent;
  color: var(--color-8);
  cursor: pointer;
}

.btn_contact:active {
  transform: translate(1px, 1px);
}

.profile_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  padding: 0;
  transform: translate(100px, 0);
}

.profile_bg {
  position: absolute;
  border: 5px solid var(--color-2);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 360px;
  height: 360px;
  z-index: 2;
  background: #f9fafc;
  border-radius: 50%;
  overflow: hidden;
  outline-offset: 20px;
  filter: drop-shadow(0px 20px 30px var(--color-2));
  z-index: 98;
}

.profile {
  width: 100%;
  object-fit: cover;
  transform: translateY(20px);
  z-index: 99;
}

.profile_top {
  border: 5px double var(--color-2);
  background-color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 90%;
  z-index: 0;
  opacity: .25;
  transform: translate(-80px, -100px) scale(1);
  transition: opacity 6s;
  animation: myAnim1 4s linear 1s infinite;
}

.PiMusicNotesDuotone {
  height: 50px;
  width: 50px;
}

@keyframes myAnim1 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.profile_side {
  border: 5px double var(--color-2);
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 90%;
  opacity: .5;
  transform: translate(145px, -120px) scale(1);
  z-index: 0;
  animation: myAnim2 4s linear 2s infinite;
}

.PiGameControllerDuotone {
  height: 50px;
  width: 50px;
}

.RiCodeSSlashFill {
  height: 50px;
  width: 50px;
}

@keyframes myAnim2 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.profile_bottom {
  border: 5px double var(--color-2);
  background-color: var(--color-8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 90%;
  opacity: .5;
  transform: translate(75px, 110px) scale(1);
  z-index: 0;
  animation: myAnim3 4s linear 3s infinite;
}

@keyframes myAnim3 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.skill_section {
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.skill_head {
  color: var(--color-5);
  text-align: center;
  margin-bottom: 60px;
}

.skills_wrapp {
  background-color: var(--color-1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: var(--color-5) 0px 2px 6px, var(--color-4) 0px -2px 6px, var(--color-3) 0px 4px 6px;
  width: 75%;
  height: 500px;
  gap: 30px;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.projects h1 {
  color: var(--color-5);
  text-align: center;
  margin-top: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  padding-top: 20px;
}

.footer h1 {
  width: 90%;
  color: var(--color-7);
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer p {
  color: var(--color-5);
  text-align: center;
  height: max-content;
  width: 160px;
  margin: 0;
}

.logo_icon {
  height: 60px;
  width: 60px;
}

.btn_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  color: var(--color-8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-8);
  background: var(--color-1);
  font-family: "Montserrat", sans-serif;
  height: 55px;
  width: 55px;
  letter-spacing: .5px;
  cursor: pointer;
}

.icon {
  height: 60%;
  width: 60%;
}

.cursor {
  color: var(--color-7);
  font-weight: bold;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.btn:hover {
  background-color: var(--color-8);
  border-color: transparent;
  color: var(--color-1);
  box-shadow: 0 0 4px 0 var(--color-6);
}

.btn:active {
  transform: translateY(1px);
}

@media screen and (max-width: 1024px) {
  li:first-child {
    margin-right: 0;
  }

  .home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home_desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    transform: translateX(0);
  }

  .home_desk h1 {
    font-size: 20px;
  }

  .home_desk h3 {
    font-size: 16px;
  }

  .desk {
    font-size: 14px;
    width: 75%;
  }

  .btn_contact {
    width: 120px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .text {
    font-size: 16px;
  }

  .profile_wrapper {
    height: 400px;
    width: 100%;
    transform: translate(0, 0);
  }

  .profile_bg {
    width: 50%;
    height: 77%;
  }

  .profile {
    transform: translateY(5px);
  }

  .profile_top {
    transform: translate(10px, -80px);
  }

  .profile_side {
    transform: translate(90px, -80px);
  }

  .profile_bottom {
    transform: translate(0, 80px);
  }

  .circle1 {
    width: 50px;
    height: 50px;
    top: 640px;
  }

  .circle2 {
    border-top: 3px solid var(--color-8);
    border-bottom: 3px solid var(--color-4);
    box-shadow: 0 -5px 10px 0 var(--color-8), 0 5px 10px 0 var(--color-4);
  }

}


@media screen and (max-width: 600px) {
  nav {
    position: sticky;
    height: max-content;
    width: 100%;
    transform: translate(0, 0);
    border-radius: 0 0 20px 20px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    width: 80%;
    height: 32px;
    padding: 0;
    margin: 0;
    gap: .5rem;
  }

  .cta a {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
  }

  li:first-child {
    margin-right: 0;
  }

  li:nth-child(2) {
    display: none;
  }

  li:nth-child(3) {
    display: none;
  }

  li:nth-child(4) {
    display: none;
  }

  #back-to-top-btn {
    top: 50px;
  }

  @keyframes slide {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home_desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    transform: translateX(0);
  }

  .home_desk h1 {
    font-size: 16px;
  }

  .home_desk h2 {
    font-size: 14px;
  }

  .home_desk h3 {
    font-size: 16px;
  }

  .desk {
    font-size: 12px;
    width: 75%;
  }

  .btn_contact {
    width: 80px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .text {
    font-size: 14px;
  }

  .profile_wrapper {
    height: 400px;
    width: 100%;
    transform: translate(0, 0);
  }

  .profile_bg {
    width: 50%;
    height: 52%;
  }

  .profile {
    transform: translateY(5px);
  }

  .profile_top {
    transform: translate(10px, -80px);
  }

  .profile_side {
    transform: translate(90px, -80px);
  }

  .profile_bottom {
    transform: translate(0, 80px);
  }

  .circle1 {
    width: 50px;
    height: 50px;
    top: 640px;
  }

  .circle2 {
    border-top: 3px solid var(--color-8);
    border-bottom: 3px solid var(--color-4);
    box-shadow: 0 -5px 10px 0 var(--color-8), 0 5px 10px 0 var(--color-4);
  }

  .skill_section {
    height: 500px;
  }

  .skill_head {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .skills_wrapp {
    height: 40%;
    width: 70%;
  }

  .projects h1 {
    font-size: 24px;
    margin-top: 0;
  }

  .footer h1 {
    text-align: center;
    font-size: 16px;
  }

  .btn {
    height: 45px;
    width: 45px;
  }
}