:root {
  --color-1: #1b1c1e;
  --color-2: #303030;
  --color-3: #00bfff;
  --color-4: #8739f9;
  --color-5: #7fffd4;
  --color-6: #f0f0f0;
  --color-7: rgb(218, 203, 177);
  --color-8: #FFD369;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  body {
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
  user-select: none;
}


nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 20px;
  height: 60px;
  width: 90%;
  background-color: rgba(255, 241, 216, 0.705);
  backdrop-filter: blur(10px);
  transform: translateX(6%);
  border-radius: 20px;
  z-index: 99;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: start;
  width: 60%;
  height: 30px;
  padding: 0;
  margin: 0;
  gap: 5rem;
}

li {
  color: var(--color-8);
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

.cta a {
  padding-bottom: 7px;
  letter-spacing: 2px;
  font-size: 18px;
  text-transform: uppercase;

}

.title {
  padding-bottom: 7px;
  letter-spacing: 2px;
  font-size: 18px;
  width: 20%;
  text-transform: uppercase;
  margin: 0;
}

.hover-underline-animation {
  position: relative;
  color: var(--color-1);
  text-decoration: none;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-1);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  top: 90px;
  width: 110px;
  padding: 10px;
  background-color: var(--color-6);
  color: var(--color-1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  z-index: 99;
}

#back-to-top-btn.visible {
  display: block;
  animation: slide .3s ease-out;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#back-to-top-btn:hover {
  background-color: var(--color-8);
  color: var(--color-1);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.zero_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
  letter-spacing: 1px;
}

.home_desk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  letter-spacing: 1px;
}

.home_desk h1,
h2 {
  color: var(--color-6);
  margin: 0;
}

.home_desk h3 {
  color: #393E46;
  margin: 0;
}

.stack_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 25%;
  overflow: hidden;
}

.stack_head {
  color: var(--color-5);
  text-align: center;
  margin-bottom: 30px;
}

.stack_wrapp {
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: var(--color-5) 0px 2px 6px, var(--color-4) 0px -2px 6px, var(--color-3) 0px 4px 6px;
  width: 40%;
  height: 30%;
  padding: 8px;
  overflow: hidden;
}


.btn_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: #393E46 3px solid;
  background: var(--color-8);
  text-align: center;
  color: var(--color-1);
  padding: 0;
  margin-top: 20px;
  overflow: hidden;
}

.text {
  font-size: 20px;
}

.btn_contact:hover {
  background-color: transparent;
  color: var(--color-8);
  cursor: pointer;
}

.btn_contact:active {
  transform: translate(1px, 1px);
}

.profile_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 25%;
  padding: 0;
}

.profile_bg {
  position: absolute;
  border: 5px solid var(--color-2);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 260px;
  height: 260px;
  background: #f1f5f8;
  border-radius: 50%;
  overflow: hidden;
  outline-offset: 20px;
  filter: drop-shadow(0px 20px 30px var(--color-2));
  z-index: 98;
}

.profile {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateY(10px);
  z-index: 99;
}

.profile_top {
  border: 5px double var(--color-2);
  background-color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 90%;
  z-index: 0;
  opacity: .25;
  transform: translate(-35px, -100px) scale(1);
  transition: opacity 6s;
  animation: myAnim1 4s linear 1s infinite;
}

.PiMusicNotesDuotone {
  height: 40px;
  width: 40px;
}

@keyframes myAnim1 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.profile_side {
  border: 5px double var(--color-2);
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 90%;
  opacity: .5;
  transform: translate(125px, -100px) scale(1);
  z-index: 0;
  animation: myAnim2 4s linear 2s infinite;
}

.RiCodeSSlashFill {
  height: 40px;
  width: 40px;
}

@keyframes myAnim2 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.PiGameControllerDuotone {
  height: 40px;
  width: 40px;
}

.profile_bottom {
  border: 5px double var(--color-2);
  background-color: var(--color-8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 90%;
  opacity: .5;
  transform: translate(50px, 100px) scale(1);
  z-index: 0;
  animation: myAnim3 4s linear 3s infinite;
}

@keyframes myAnim3 {
  0% {
    opacity: .5;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
}

.projects h1 {
  color: var(--color-5);
  margin: 0;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50vh;
}

.footer h1 {
  width: 90%;
  color: var(--color-7);
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer p {
  color: var(--color-5);
  text-align: center;
  height: max-content;
  width: 160px;
  margin: 0;
}

.logo_icon {
  height: 60px;
  width: 60px;
}

.btn_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  color: var(--color-8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--color-8);
  background: var(--color-1);
  font-family: "Montserrat", sans-serif;
  height: 55px;
  width: 55px;
  letter-spacing: .5px;
  cursor: pointer;
}

.icon {
  height: 60%;
  width: 60%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.btn:hover {
  background-color: var(--color-8);
  border-color: transparent;
  color: var(--color-1);
  box-shadow: 0 0 4px 0 var(--color-6);
}

.btn:active {
  transform: translateY(1px);
}


@media screen and (max-width: 600px) {
  nav {
    position: sticky;
    height: max-content;
    width: 100%;
    transform: translate(0, 0);
    top: 0;
    border-radius: 0 0 20px 20px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    width: 80%;
    height: 24px;
    padding: 0;
    margin: 0;
    gap: .5rem;
  }

  .cta a {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .title {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  ul:first-child {
    margin-right: 0;
  }

  ul:nth-child(2) {
    display: none;
  }

  #back-to-top-btn {
    top: 75px;
  }

  @keyframes slide {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .zero_page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 50%;
  }

  .home_desk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    text-align: center;
    transform: translateX(0);
  }

  .home_desk h1 {
    font-size: 16px;
  }

  .home_desk h2 {
    font-size: 14px;
  }

  .home_desk h3 {
    font-size: 16px;
  }

  .desk {
    font-size: 12px;
    width: 75%;
  }

  .btn_contact {
    width: 80px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .text {
    font-size: 14px;
  }

  .profile_wrapper {
    height: 50%;
    width: 100%;
    /* transform: translate(0, 0); */
  }

  .profile_bg {
    width: 40%;
    height: 25%;
  }

  .profile {
    transform: translateY(10px);
  }

  .profile_top {
    transform: translate(-15px, -80px);
  }

  .profile_side {
    transform: translate(95px, -80px);
  }

  .profile_bottom {
    transform: translate(10px, 90px);
  }

  .stack_container {
    justify-content: center;
  }

  .stack_head {
    font-size: 24px;
    margin: 0 0 12px 0;
  }

  .stack_wrapp {
    width: 60%;
    height: 20%;
    padding: 4px;
  }

  .footer {
    height: 30vh;
    justify-content: flex-start;
    gap: 2rem;
  }

  .footer h1 {
    text-align: center;
    font-size: 16px;
  }

  .btn {
    height: 45px;
    width: 45px;
  }
}